body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #003699;
    color: white;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.card {
    margin-top: 20px;
}

#messages {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
}

.sender-msg {
    text-align: right;
}

.receiver-msg {
    text-align: left;
}

